# =========================
# Build results
# =========================
**/bin/
**/obj/

# =========================
# User-specific / IDE files
# =========================
.vs/
.vscode/

# =========================
# SQLite database files
# =========================
*.db
*.db-shm
*.db-wal

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
